<template>
  <div class="accordion">
    <div class="badge">
      EXCLUSIVO HOTELES.COM
    </div>
    <div @click="toggle" class="header">
      <slot name="header"></slot>
      <arrow-icon :rotate="active" />
    </div>
    <transition 
      name="accordion"
      v-on:before-enter="beforeEnter"
      v-on:enter="enter"
      v-on:before-leave="beforeLeave"
      v-on:leave="leave">
      <div v-if="active" class="content" ref="content">
        <slot name="body"></slot>
      </div>
    </transition>
  </div> 
</template>

<script>
import ArrowIcon from './ArrowIcon'

export default {
  name: 'accordion',
  components: {
    ArrowIcon
  },
  
  data () {
    return {
      active: false
    }
  },

  methods: {
    toggle () {
      this.active = !this.active;
    },

    beforeEnter (el) {
      el.style.height = '0';
    },

    beforeLeave (el) {
      el.style.height = `${el.scrollHeight}px`
    },

    enter (el) {
      el.style.height = `${el.scrollHeight}px`
    },

    leave (el) {
      el.style.height = '0';
    }

  }
}
</script>

