<template>
  <header>
    <nav>
      <ul>
        <router-link to="/"><li>Tab 1</li></router-link>
        <router-link to="improvements"><li>Tab 2</li></router-link>
      </ul>
    </nav>
  </header> 
</template>

<script>
export default {
  name: 'Header'
}
</script>
