<template>
<div class="improvements-section">
  <accordion>
    <template slot="header">
      <p>Mejora tu estancia <small>Opcional</small></p>
    </template>
    <template slot="body">
      <improvement />
      <improvement />
    </template>
  </accordion>
  <accordion>
    <template slot="header">
      <p>Servicios de la habitacion <small>Opcional</small></p>
    </template>
    <template slot="body">
      <improvement />
    </template>
  </accordion>
</div>
</template>

<script>
import Accordion from './Accordion'
import Improvement from './Improvement'

export default {
  components: {
    Accordion,
    Improvement
  }
  
}
</script>

