<template>
  <div class="improvement">
    <div class="main">
      <div class="image">
        <img src="@/assets/images/test.png">
      </div>
      <div class="improvement-content">
        <div class="title">
          <p>Olvidese de la rutina</p>
        </div>
        <div class="description">
          <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at accumsan erat. Donec vitae pellentesque justo. Curabitur in elit in ante lobortis tempor. Fusce semper ante id orci porttitor sollicitudin. Cras euismod ligula non turpis pretium fringilla. Ut sed leo luctus, dictum neque non, vestibulum eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu felis eget erat auctor efficitur. Praesent dapibus purus odio, ac sagittis dui laoreet non. Nullam quis quam et ligula tincidunt lacinia id quis mauris. Duis a leo arcu. Aliquam eget sagittis leo.  
          </p>
        </div>
        <div @click="toggle" class="more">
          <p>Mas informacion y condiciones</p>
          <arrow-icon :rotate="active" />
        </div>
      </div>
    </div>
    <div v-show="active" class="more-content">
      <div class="include">
        <p>Incluye</p>
      </div>
      <ul class="additions">
        <li>
          Bano javanés Mandi Susu tradicional;
          evocacion de los banos que tomaban las princesas
          de las cortes y palacios de Java Central,
          en Indonesia, con antiguas recetas en las,
          que se mezclaba la leche y las especias.
        </li>
        <li>
          Bano floral balinés con aceite de almendra dulce
          y aromas de jazmín
        </li>
        <li>
          Bano oceánico: con sal marina y gajos de pies,
          con pétalos y aromas.
        </li>
        <li>Bano de pies floral: bano aromatico
          de pies
        </li>
        <li>
          Bano de vapo herbal; ano de vapor
          con hierbas
        </li>
        <li>Rain shower</li>
      </ul>
      <p class="info">
        <strong>Valores no acumulables a otras promociones similares</strong>
      </p>
    </div>
    <div class="anchor">

    </div>
  </div> 
</template>

<script>
import ArrowIcon from './ArrowIcon'

export default {
  name: 'improvement',
  components: {
    ArrowIcon
  },

  data () {
    return {
      active: true
    }
  },

  methods: {
    toggle (event) {
      this.active = !this.active;
    }
  }
  
}
</script>

