<template>
  <div @click="clicked" class="regime">
    <p class="name">{{ name }}</p>
    <hr>
    <ul class="list">
      <li 
        v-for="(e, i) in list"
        :key="`Element${i}`">{{ e }}</li>
    </ul>
    <div class="selector">
      <input type="radio" :checked="selected"> <span>Elegir régimen</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'regime',
  props: ['name', 'list', 'index', 'selected'],

  methods: {
    clicked (event) {
      this.$emit('regimeSelected', this.index)
    }
  }
  
}
</script>

