<template>
  <div class="regimes-section">
    <div class="regimes-header">
      <div class="regimes-title">
        <h3>
          HOTEL <strong>Mieres del Camín Apartamentos</strong>
        </h3>
      </div>
      <div class="regimes-stars">
        <stars :count="4" />
      </div>
    </div>
    <div class="regimes">
      <regime 
        v-for="(r, i) in regimes" 
        :name="r.name"
        :list="r.list"
        :key="`Regime${i}`" 
        :index="i" 
        :selected="regimeActive === i"
        :class="{ active: regimeActive === i }"
        @regimeSelected="index => regimeActive = index"
        />
    </div>
  </div>
</template>

<script>
import Regime from './Regime'
import Stars from './Stars'
import RegimesFixtures from '@/fixtures/regimes'

export default {
  components: {
    Regime,
    Stars
  },

  data () {
    return {
      regimeActive: 0,
      regimes: RegimesFixtures
    }
  }
}
</script>

