<template>
  <div class="stars">
    <span class="star" v-for="star in stars" :key="`Start${star}`"></span>
  </div> 
</template>

<script>
import { range } from '@/utils/it'

export default {
  name: 'stars',
  props: ['count'],

  data () {
    return {
      stars: range(this.count)
    }
  }
}
</script>

