<template>
  <div class="container">
    <Header />
    <div class="content">
      <router-view></router-view>
    </div>
  </div> 
</template>

<script>
import Header from './components/Header'

export default {
  components: {
    Header
  }
}
</script>

<style lang="scss">
// @import './assets/sass/main';
</style>


