@mixin for-mobile-devices {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin for-phone-only {
  @media screen and (max-width: 360px) {
    @content;
  }
}

@mixin roboto {
  font-family: 'Roboto', serif;
}

@mixin roboto-slab {
  font-family: 'Roboto Slab', serif;
}
