
@import '~normalize.css/normalize.css';
@import '_mixins';
@import '_vars';

body {
  @include roboto;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.arrow-icon {
  background: url(../images/angle-down-blue.svg);
  background-size: 21px 13px;
  width: 21px;
  height: 13px;
  position: absolute;
  top: 12px;
  left: 3px;
  transform: rotate(0deg);
  transition-duration: 0.3s;

}

.arrow-icon.rotate {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.stars {
  display: flex;
  flex-flow: row wrap;

  .star {
    width: 12px;
    height: 13px;
    background: url(../images/star-orange.svg);
    background-size: 12px 13px;
    margin-top: 3px;
    padding-left: 2px;
  }
}

.accordion {
  color: $text;
  position: relative;
  padding: 10px;
  margin-top: 30px;
  border: solid 1px #979A9A;
  background: #fff;
  overflow: auto;
  .header {
    position: relative;
    padding: 10px;
    cursor: pointer;
    @include roboto-slab;
    font-weight: bold;
    color: $main;

    small {
      font-size: 10px;
    }

    p {
      padding: 0px;
      margin: 0px;
      margin-left: 20px;
    }
  }

  .badge {
    color: #fff;
    background: #e44c3a;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    font-size: 12px;
    width: 200px;
    padding: 5px;
  }

  .content {
    transition: 200ms ease-out;
  }
}

.improvement {
  margin-bottom: 10px;
  border: solid 1px #979797;
  .main {
    display: flex;

    .image {
      flex: 0 0;
      img {
        width: 200px;
        height: 100%;
      }
    }

    .improvement-content {
      flex: 2 1;
      position: relative;
      margin-left: 15px;
      font-size: 14px;

      .title {
        color: $second;
        font-weight: bold;
        font-size: 18px;
      }

      .more {
        position: absolute;
        bottom: 0px;
        cursor: pointer;
        color: $main;
        font-weight: bold;

        p {
          margin-left: 30px;
        }
      }
    }
  }


  .more-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    font-size: 14px;

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 5px;
    }

    .info {
      color: $second;
    }
  }
}

// Container
.container {
  background: #f9f9f9;
  border: solid 1px #B3B6B7;
  display: flex;
  flex-direction: column;
  min-height: 500px;

  header {
    background: #fff;
    display: flex;
    justify-content: flex-end;
    height: 35px;
    border-bottom: solid 1px #979A9A;

    nav ul {
      padding: 0px;
      margin: 0px;
      display: flex;
      align-items: baseline;
      list-style-type: none;

      li {
        text-align: center;
        padding-bottom: 7px;
        width: 100px;
      }

      a, a:visited {
        margin-top: 10px;
        @include roboto-slab;
        font-size: 14px;
        color: $main;
      }

      a.router-link-exact-active {
        border-bottom: 2px solid $second;
        color: $second;
      }
    }
  }
  
  .regimes-section {

    .regimes-header {
      display: flex;
      justify-content: center;
      color: $second;
      h3 {
        font-size: 24px;
      }

      strong {
        @include roboto-slab;
        font-weight: bold;
        font-size: 30px;
      }

      .regimes-stars {
        margin-left: 20px;
        margin-top: 35px;
      }
    }
    .regimes {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      flex-wrap: nowrap;

      .regime {
        // text-align: center;
        width: 200px; 
        min-height: 400px;
        border: 1px solid #B3B6B7;
        background: #fff;
        cursor: pointer;
        position: relative;

        .name {
          text-align: center;
          font-weight: bold;
          font-size: 16px;
          color: $second;
        }

        hr {
          width: 50%;
          text-align: center;
          color: $main;
        }

        .selector {
          position: absolute;
          left: 50%;
          background: #f9f9f9;
          transform: translate(-50%, 0);
          margin-bottom: 10px;
          bottom: 0px;
          width: 80%;
          padding: 10px;
          text-align: center;
          font-size: 16px;

          input[type='radio']:checked:after {
            background: greenyellow;
          }

          span {
            margin-left: 10px;
          }
        }

        .list {
          padding: 0px;
          margin: 0px;
          padding-left: 10px;
          list-style: none;

          li {
            font-size: 12px;
            padding: 2px;
            text-align: left;
            // color: #B3B6B7;
          }

          li:before {
            content: '•';
            color: #B3B6B7;
            display: inline-block;
            margin-right: 10px;
          }
        }
      }

      .regime.active {
        border-color: $second;

        .selector {
          border: 1px solid $second;
          color: $second;
        }
      }
    }

  }


  @include for-mobile-devices {
    .regimes-section {
      .regimes {
        justify-content: stretch;
        flex-direction: column;

        .regime {
          width: 100%;
        }
      }
    }

    .improvement {
      .main {
        flex-direction: column;

        .image img {
          width: 100%;
        }

        .more {
          position: relative;

          .arrow-icon {
            top: 2px;
          }
        }
      }
    }

    .more-content {
      ul {
        grid-template-columns: 1fr;
      }
    }

    .badge {
      font-size: 10px;
      width: 130px;
    }
  }
}
